html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #03a9f4 !important;
}

* {
  box-sizing: border-box;
}



a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1,h2,h3,h4,p, ul {
  margin: 0;
}

svg {
  cursor: pointer;
}

svg:hover {
  fill: black;
}